# Network Stack Configuration

config ENABLE_NET
    bool "Enable Network Stack"
    default y
    help
      Enable network stack support. When enabled, smoltcp TCP/IP stack will be available.

config NET_STATIC_IP
    string "Set device ipv4 address"
    default ""
    help
      Set device ipv4 address

config NETWORK_STACK_SIZE
    depends on ENABLE_NET
    default 24576
    int "The stack size of network stack thread"

# smoltcp IP Stack Configuration , default and range from smoltcp:gen_config.py
menu "smoltcp TCP/IP Stack Configuration"
    depends on ENABLE_NET

config ASSEMBLER_MAX_SEGMENT_COUNT
    int "Maximum non-contiguous segments count for reassembly"
    default 4
    range 1 32
    help
      Maximum number of non-contiguous segments the assembler can hold. Used for both packet reassembly and TCP stream reassembly.

config REASSEMBLY_BUFFER_COUNT
    int "Number of reassembly buffers"
    default 4
    range 1 32
    help
      Number of reassembly buffers, i.e how many different incoming packets can be reassembled at the same time.

config REASSEMBLY_BUFFER_SIZE
    int "Reassembly buffer size for incoming packets"
    default 1500
    range 256 65536
    help
      Size of the buffer used for reassembling (de-fragmenting) incoming packets. If the reassembled packet is larger than this setting, it will be dropped instead of reassembled.

config FRAGMENTATION_BUFFER_SIZE
    int "Fragmentation buffer size for outgoing packets"
    default 4096
    range 256 65536
    help
      Size of the buffer used for fragmenting outgoing packets larger than the MTU. Packets larger than this setting will be dropped instead of fragmented.

config IFACE_MAX_ADDR_COUNT
    int "Maximum IP addresses per interface"
    default 8
    range 1 8
    help
      Max amount of IP addresses that can be assigned to one interface (counting both IPv4 and IPv6 addresses).

config IFACE_MAX_MULTICAST_GROUP_COUNT
    int "Maximum multicast groups per interface"
    default 4
    range 1 1024
    help
      Max amount of multicast groups that can be joined by one interface.

config IFACE_MAX_ROUTE_COUNT
    int "Maximum routing table entries"
    default 2
    range 1 1024
    help
      Max amount of routes that can be added to one interface. Includes the default route. Includes both IPv4 and IPv6.

config IFACE_MAX_SIXLOWPAN_ADDRESS_CONTEXT_COUNT
    int "Maximum 6LoWPAN address contexts per interface"
    default 4
    range 1 1024
    help
      Max amount of 6LoWPAN address contexts that can be assigned to one interface.

config IFACE_NEIGHBOR_CACHE_COUNT
    int "Neighbor(ARP) cache entries count"
    default 8
    range 1 1024
    help
      Amount of "IP address -> hardware address" entries the neighbor cache (also known as the "ARP cache" or the "ARP table") holds.

config RPL_RELATIONS_BUFFER_COUNT
    int "Maximum RPL routing neighbor relations"
    default 16
    range 1 128
    help
      Maximum RPL routing neighbor relations

config RPL_PARENTS_BUFFER_COUNT
    int "Maximum RPL parent nodes in DODAG"
    default 8
    range 2 32
    help
      Maximum RPL parent nodes in DODAG

config IPV6_HBH_MAX_OPTIONS
    int "IPv6 Hop-by-Hop options"
    default 4
    range 1 32
    help
      The maximum amount of parsed options the IPv6 Hop-by-Hop header can hold.

config DNS_MAX_NAME_SIZE
    int "Maximum DNS name length"
    default 255
    range 64 255
    help
      Maximum length of DNS names that can be queried. (RFC 1035)

config DNS_MAX_RESULT_COUNT
    int "Maximum DNS results per query"
    default 1
    range 1 32
    help
      Maximum amount of address results for a given DNS query that will be kept. For example, if this is set to 2 and the queried name has 4 `A` records, only the first 2 will be returned.

config DNS_MAX_SERVER_COUNT
    int "Maximum DNS servers"
    default 1
    range 1 32
    help
      Maximum amount of DNS servers that can be configured in one DNS socket.

config NET_ROUTER_IP
    string "Default Router ip"
    default "0.0.0.0"
    help
      Default router ip

config HTTP_PROXY_IP
    string "HTTP proxy ipv4 address"
    default ""
    help
      IP of the plain-HTTP reverse proxy used by apps that lack DNS/TLS.

config HTTP_PROXY_PORT
    int "HTTP proxy port"
    default 0
    help
      Port of the plain-HTTP reverse proxy used by apps that lack DNS/TLS.

config ENABLE_WLAN
    bool "Enable wlan device"
    default n
    help
      Enable wlan device

if ENABLE_WLAN
    config WLAN_SSID
        string "SSID for access point"
        default ""
        help
          SSID for access point
    
    config WLAN_PASSWORD
        string "Password for access point"
        default ""
        help
          Password for access point
endif

endmenu # SMOLTCP
